@page "/"
@using BlazorApp3.Models
@inject ILogger<Index> Logger

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized Context="auth">
        <h1>@auth.User.Identity?.Name</h1>
        <p>Find Your Account</p>
        <div class="row w-50 mt-5">
            <EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit" Context="form">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="mb-3">
                    <label for="identifier" class="form-label fw-bold">Identifier</label>
                    <InputText @bind-Value="starship.Identifier" class="form-control" id="identifier"/>
                    <div id="identifierHelp" class="form-text">
                        @if (form.GetValidationMessages().ToList().Find(m => m.Contains("Identifier"))?.Length > 0)
                        {
                            <ValidationMessage For="@(() => starship.Identifier)"/>
                        }
                        else
                        {
                            <span>Please provide your surname used at the time of the registration.</span>
                        }
                    </div>
                </div>
                <p>
                    <label>
                        Primary Classification:
                        <InputSelect @bind-Value="starship.Classification">
                            <option value="">Select classification ...</option>
                            <option value="Exploration">Exploration</option>
                            <option value="Diplomacy">Diplomacy</option>
                            <option value="Defense">Defense</option>
                        </InputSelect>
                    </label>
                </p>
                <div class="mb-3">
                                    <label for="identifier" class="form-label fw-bold">Maximum Accommodation</label>
                                    <InputNumber @bind-Value="starship.MaximumAccommodation" class="form-control" id="maximumAccommodation"/>
                                    <div id="maximumAccommodationHelp" class="form-text">
                                        <ValidationMessage For="@(() => starship.MaximumAccommodation)"/>
                                    </div>
                                </div>
                <p>
                    <label>
                        Maximum Accommodation:
                        <InputNumber @bind-Value="starship.MaximumAccommodation"/>
                    </label>
                </p>
                <p>
                    <label>
                        Engineering Approval:
                        <InputCheckbox @bind-Value="starship.IsValidatedDesign"/>
                    </label>
                </p>
                <p>
                    <label>
                        Production Date:
                        <InputDate @bind-Value="starship.ProductionDate"/>
                    </label>
                </p>

                <button type="submit" class="btn btn-outline-primary" disabled="@isSending">
                    @if (isSending)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>Submit</span>
                    }
                </button>

                <p>
                    <a href="http://www.startrek.com/">Star Trek</a>,
                    ©1966-2019 CBS Studios, Inc. and
                    <a href="https://www.paramount.com">Paramount Pictures</a>
                </p>
            </EditForm>

            @code {
                private readonly Starship starship = new() { ProductionDate = DateTime.UtcNow };
                private bool isSending;

                private void HandleValidSubmit()
                {
                    Logger.LogInformation("HandleValidSubmit called");
                    isSending = true;

                // Process the valid form
                }

            }

        </div>

    </Authorized>
</AuthorizeView>